{% extends "base.html"%} {% block content %}
<title>
    {%block title%} Page Not Found! {%endblock%}
</title>
{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="text-center">
                <h1>404, Page not found</h1>
                <p>The page that you are looking for doesn't exist.</p>
                <a class="btn btn-danger" href="{%url 'index'%}">Go Back To Home Page</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
